<% content_for :title do %>
	<%= t('products.title') %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-xs-12">
			<div class="product-video">
				<%= cl_video_tag("impianto_jbc3bj", autoplay: true,controls: true)%>
			</div>
			<div class="product-card">
				<h1><%= t('index.h1') %> </h1>
				<p><%= t('products.one') %></p>
				<%=cl_image_tag("dosatrice-banner_s1kdyf.jpg", class: "container-image")%>
				<p><%= t('products.two') %>
				</p>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="product-card">
				<h2><%= t('products.three')%></h2>
				<p><%= t('products.four')%></p>
				<h2><%= t('products.five')%></h2>
				<p><%= t('products.application') %></p>
				<ul>
					<li><%= t('products.list-one')%></li>
					<li><%= t('products.list-two')%></li>
					<li><%= t('products.list-three')%></li>
					<li><%= t('products.list-four')%></li>
					<li><%= t('products.list-five')%></li>
					<li><%= t('products.list-six')%></li>
					<li><%= t('products.list-seven')%></li>
				</ul>
				<h2><%= t('products.six') %></h2>
				<p><%= t('products.advantages') %></p>
				<ul>
					<li><%= t('products.adv-one')%></li>
					<li><%= t('products.adv-two')%></li>
					<li><%= t('products.adv-three')%></li>
					<li><%= t('products.adv-four')%></li>
					<li><%= t('products.adv-five')%></li>
				</ul>
			</div>
		</div>
		
	</div>
	<div class="sintesi">
		<div class="sintesi-margin">
			<p><%= t('products.seven') %></p>
			<p><%= t('products.eight') %></p>
			<p><%= t('products.nine') %></p>
			<p><%= t('products.ten') %></p>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr  class="bg-info">
				<th scope="col"><%= t('products.model') %> </th>
				<th scope="col"><%= t('products.quantity') %> </th>
				<th scope="col"><%= t('product.speed') %> </th>
				<th scope="col"><%= t('products.airusage') %></th>
				<th scope="col"><%= t('products.pression') %></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>DV70</td>
				<td>5-70 cc</td>
				<td>@50 pcs/min</td>
				<td>130 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV350</td>
				<td>20-350 cc</td>
				<td>@50 pcs/min</td>
				<td>130 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV600</td>
				<td>40-600 cc</td>
				<td>40 pcs/min</td>
				<td>280 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV1100</td>
				<td>70-1100 cc</td>
				<td>40 pcs/min</td>
				<td>280 l/min</td>
				<td>6 bar</td>
			</tr>
			<tr>
				<td>DV5000</td>
				<td>500-5000 cc</td>
				<td>10 pcs/min</td>
				<td>440 l/min</td>
				<td>6 bar</td>
			</tr>				
		</tbody>
	</table>
	
</div>